/ig-backend/.cache
/ig-backend/.tmp
/ig-backend/build
/ig-backend/extensions
/ig-backend/node_modules
/ig-backend/public
/ig-backend/.editorconfig
/ig-backend/.env.example
/ig-backend/.eslintignore
/ig-backend/.eslintrc
/ig-backend/favicon.ico
/ig-backend/README.md
/ig-backend/yarn.lock
/ig-backend/package.lock
/ig-backend/package.json
/ig-frontend/node_modules
/ig-frontend/public
/ig-frontend/README.md
/ig-frontend/yarn.lock
/ig-frontend/package.lock